body {
	font-size: 100%
}

nav {
	width: 20%;
	float: left;
	padding: 0 .25em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
	margin-bottom: 1em;
}

h2 {
	margin: 0;
	margin-bottom: 1em;
}

#mainColumn {
	margin: 0 auto;
	width: 90%;
}

#content {
	float: left;
	width: 75%;
	padding: 0 1em;
}
#content figure {
	float: right;
	margin: 0 1em;
}
