body {
	font-size: 100%
}
a {
	color: #BF849B;
	font-family: 'Josefin Slab', serif;
}
header {
	font-family: 'Josefin Slab', serif;
	color: #FFFCDF;
	margin: 0;
	padding-left: 1em;
	padding-top: .2em;
	font-size: 20px;
	background-color: #7F793E;
}
nav {
	width: 20%;
	float: left;
	padding: 0 0;
	background-color: #FFFCDF;
}
nav ul {
	margin: 0;
	padding-left: 1em;
	padding-top: 1em;
	list-style-type: none;
}

p {
	margin: 0;
	margin-bottom: 1em;
	font-family: 'Nunito', sans-serif;
	font-size: 95%;
}

h2 {
	font-family: 'Josefin Slab', serif;
	margin: 0;
	margin-bottom: 1em;
	color: #FFFCDF;
}
strong {
	font-style: bold;
}


#mainColumn {
	margin: 0 0;
	width: 90%;
}

#content {
	float: left;
	width: 75%;
	padding: 0 1em;
	padding-top: 1em;
	color: #FFFCDF;
	border-left-width: 5px;
	border-left-style: dotted;
	border-left-color: #7F793E;
	border-spacing: 3%;
	background-color: #69A5B2;
	font-family: 'Nunito', sans-serif;
}
#content figure {
	float: right;
	margin: 0 1em;
}
